/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container da página */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título da página */
#page-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Botão de adicionar produto */
.btn-add {
    background-color: #28a745; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

.btn-add:hover {
    background-color: #218838;
}

/* Tabela de produtos */
.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background: #f4f4f4;
    font-weight: bold;
}

.table tr:hover {
    background: #f1f1f1;
}

/* Botões da tabela */
.btn-edit {
    background-color: #ffc107; /* Amarelo */
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-delete {
    background-color: #dc3545; /* Vermelho */
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Formulário de edição de produto */
#product-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

#product-form input, #product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#product-form .btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    font-size: 16px;
}

#product-form .btn-primary:hover {
    background-color: #0056b3;
}

#product-form .btn-secondary {
    background-color: #6c757d;
    margin-left: 10px;
}

#product-form .btn-secondary:hover {
    background-color: #5a6268;
}

#form-title {
    text-align: center;
    color: #333;
}

/* Sugestões de pesquisa */
.form-container {
    position: relative;
}

#search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.suggestions {
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 2px); /* Para corresponder à largura da caixa de pesquisa */
    z-index: 1000;
    top: 100%; /* Abaixo da caixa de pesquisa */
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f1f1f1;
}
