<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1 id="page-title">Product List</h1>
        <div class="form-container">
            <a class="btn btn-add" href="/products/add" id="add-product-button">Add New Product</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.description}"></td>
                    <td>
                        <a class="btn btn-edit" th:href="@{/products/edit/{id}(id=${product.id})}" id="edit-product-button">Edit</a>
                        <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline;">
                            <button class="btn btn-delete" type="submit" id="delete-product-button">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
